---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Dog
  </div>
  <div class="inline opacity-75">
    <a href="https://yggdrasil0t.xyz" target="_blank" class="font-bold"
      >Ao Tian</a
    >
  </div>
</footer>
<style></style>
