---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class
---

<ul class="menu grow shrink menu-md overflow-y-auto">
    <li><a class="py-3 text-base" id="home" href="/">Home</a></li>
    <!-- <li>
        <a class="py-3 text-base" id="projects" href="/projects">Projects</a>
    </li> -->
    <!-- <li><a class="py-3 text-base" id="blog" href="/blog/">Blog</a></li> -->
    <!-- <li><a class="py-3 text-base" id="cv" href="/cv">CV</a></li> -->
    <li><a class="py-3 text-base" id="books" href="/books">Books</a></li>
    <li>
        <a class="py-3 text-base font-bold text-error" id="cs161" href="/cs161"
            >CS161</a
        >
    </li>
    <li>
        <a class="py-3 text-base font-bold text-error" id="cs162" href="/cs162"
            >CS162</a
        >
    </li>
    <li>
        <a class="py-3 text-base font-bold text-error" id="cs168" href="/cs168"
            >CS168</a
        >
    </li>
    <li>
        <a class="py-3 text-base font-bold text-error" id="cs170" href="/cs170"
            >CS170</a
        >
    </li>
    <li>
        <a class="py-3 text-base font-bold text-error" id="cs186" href="/cs186"
            >CS186</a
        >
    </li>
    <li>
        <a class="py-3 text-base font-bold text-error" id="cs189" href="/cs189"
            >CS189</a
        >
    </li>

    <li>
        <a
            class="py-3 text-base"
            id="contact"
            href="mailto:aotian@berkeley.edu"
            target="_blank"
            referrerpolicy="no-referrer-when-downgrade"
            >Contact
        </a>
    </li>
</ul>

<script
    define:vars={{
        sideBarActiveItemID: sideBarActiveItemID,
        activeClass: activeClass,
    }}
>
    const activeItemElem = document.getElementById(sideBarActiveItemID);
    activeItemElem && activeItemElem.classList.add(activeClass);
</script>
